In [33]:
import numpy as np
import pandas as pd
from sklearn import tree

In [34]:
#baca dataset dari file ke pandas dataframe
diabetDataset = pd.read_csv('diabetes_prediction_dataset.csv', delimiter=',', header=0)

In [35]:
diabetDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [36]:
diabetDataset

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [37]:
diabetDataset.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [38]:
diabetDataset.diabetes

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [39]:
#hapus kolom gender
diabetDataset = diabetDataset.drop(labels="gender", axis=1)

In [40]:
#hapus kolom smoking history
diabetDataset = diabetDataset.drop(labels="smoking_history", axis=1)

In [41]:
#ubah dataFrame ke array
diabetDataset = diabetDataset.to_numpy()

In [42]:
print(diabetDataset)

[[ 80.    0.    1.  ...   6.6 140.    0. ]
 [ 54.    0.    0.  ...   6.6  80.    0. ]
 [ 28.    0.    0.  ...   5.7 158.    0. ]
 ...
 [ 66.    0.    0.  ...   5.7 155.    0. ]
 [ 24.    0.    0.  ...   4.  100.    0. ]
 [ 57.    0.    0.  ...   6.6  90.    0. ]]

In [56]:
#membagi dataset mjd 80 baris untuk train dan 20 test
dataTrain = np.concatenate((diabetDataset[0:40, :], diabetDataset[50:90, :]),
                           axis=0)
dataTest = np.concatenate((diabetDataset[40:50, :], diabetDataset[50:100, :]),
                           axis=0)

In [57]:
print(dataTrain)
len(dataTrain)

[[ 80.     0.     1.    25.19   6.6  140.     0.  ]
 [ 54.     0.     0.    27.32   6.6   80.     0.  ]
 [ 28.     0.     0.    27.32   5.7  158.     0.  ]
 [ 36.     0.     0.    23.45   5.   155.     0.  ]
 [ 76.     1.     1.    20.14   4.8  155.     0.  ]
 [ 20.     0.     0.    27.32   6.6   85.     0.  ]
 [ 44.     0.     0.    19.31   6.5  200.     1.  ]
 [ 79.     0.     0.    23.86   5.7   85.     0.  ]
 [ 42.     0.     0.    33.64   4.8  145.     0.  ]
 [ 32.     0.     0.    27.32   5.   100.     0.  ]
 [ 53.     0.     0.    27.32   6.1   85.     0.  ]
 [ 54.     0.     0.    54.7    6.   100.     0.  ]
 [ 78.     0.     0.    36.05   5.   130.     0.  ]
 [ 67.     0.     0.    25.69   5.8  200.     0.  ]
 [ 76.     0.     0.    27.32   5.   160.     0.  ]
 [ 78.     0.     0.    27.32   6.6  126.     0.  ]
 [ 15.     0.     0.    30.36   6.1  200.     0.  ]
 [ 42.     0.     0.    24.48   5.7  158.     0.  ]
 [ 42.     0.     0.    27.32   5.7   80.     0.  ]
 [ 37.     0.     0.    25.72   3.5  159.     0.  ]
 [ 40.     0.     0.    36.38   6.    90.     0.  ]
 [  5.     0.     0.    18.8    6.2   85.     0.  ]
 [ 69.     0.     0.    21.24   4.8   85.     0.  ]
 [ 72.     0.     1.    27.94   6.5  130.     0.  ]
 [  4.     0.     0.    13.99   4.   140.     0.  ]
 [ 30.     0.     0.    33.76   6.1  126.     0.  ]
 [ 67.     0.     1.    27.32   6.5  200.     1.  ]
 [ 40.     0.     0.    27.85   5.8   80.     0.  ]
 [ 45.     1.     0.    26.47   4.   158.     0.  ]
 [ 43.     0.     0.    26.08   6.1  155.     0.  ]
 [ 53.     0.     0.    31.75   4.   200.     0.  ]
 [ 50.     0.     0.    25.15   4.   145.     0.  ]
 [ 41.     0.     0.    22.01   6.2  126.     0.  ]
 [ 20.     0.     0.    22.19   3.5  100.     0.  ]
 [ 76.     0.     0.    23.55   5.    85.     0.  ]
 [  5.     0.     0.    15.1    5.8   85.     0.  ]
 [ 15.     0.     0.    21.76   4.5  130.     0.  ]
 [ 26.     0.     0.    21.22   6.6  200.     0.  ]
 [ 50.     1.     0.    27.32   5.7  260.     1.  ]
 [ 34.     0.     0.    56.43   6.2  200.     0.  ]
 [ 57.     0.     0.    27.32   6.1  155.     0.  ]
 [ 26.     0.     0.    27.32   4.   200.     0.  ]
 [ 74.     0.     0.    28.12   5.   100.     0.  ]
 [ 53.     0.     0.    27.32   7.   159.     1.  ]
 [ 45.     1.     0.    23.05   4.8  130.     0.  ]
 [ 50.     0.     0.    37.16   9.   159.     1.  ]
 [ 30.     0.     0.    27.32   6.6  140.     0.  ]
 [ 19.     0.     0.    23.35   3.5  155.     0.  ]
 [ 46.     0.     0.    24.41   5.   140.     0.  ]
 [ 67.     0.     0.    63.48   8.8  155.     1.  ]
 [ 44.     1.     0.    27.86   6.6  145.     0.  ]
 [ 21.     0.     0.    26.1    5.8  140.     0.  ]
 [ 30.     0.     0.    27.32   6.5  158.     0.  ]
 [ 59.     0.     0.    27.32   6.   159.     0.  ]
 [ 27.     0.     0.    30.22   5.7  100.     0.  ]
 [ 59.     0.     1.    23.11   6.5  200.     0.  ]
 [ 19.     0.     0.    27.32   5.7  145.     0.  ]
 [ 13.     0.     0.    28.16   5.    90.     0.  ]
 [ 56.     0.     0.    26.78   4.8  200.     0.  ]
 [  2.     0.     0.    23.04   5.7  160.     0.  ]
 [  7.     0.     0.    15.94   5.8  158.     0.  ]
 [  3.     0.     0.    15.8    6.2   90.     0.  ]
 [ 30.     0.     0.    27.01   6.2  145.     0.  ]
 [ 43.     0.     0.    27.32   3.5  126.     0.  ]
 [ 76.     0.     0.    22.19   6.6  158.     0.  ]
 [ 41.     0.     0.    27.45   5.7  130.     0.  ]
 [ 11.     0.     0.    17.98   6.5  159.     0.  ]
 [ 26.     0.     0.    26.45   5.7  158.     0.  ]
 [ 34.     0.     0.    31.16   5.8   90.     0.  ]
 [ 80.     0.     0.    24.42   4.   160.     0.  ]
 [ 37.     0.     0.    30.5    5.7  159.     0.  ]
 [ 57.     0.     0.    27.32   8.2  126.     1.  ]
 [ 53.     0.     0.    26.37   4.5  200.     0.  ]
 [ 54.     0.     0.    31.86   6.6  145.     0.  ]
 [ 37.     0.     0.    21.25   6.1  200.     0.  ]
 [ 56.     0.     0.    30.95   6.5  145.     0.  ]
 [ 79.     0.     0.    31.19   5.8  155.     0.  ]
 [ 36.     0.     0.    32.27   6.2  220.     1.  ]
 [ 38.     0.     0.    22.42   6.    85.     0.  ]
 [  6.     0.     0.    16.39   6.6  200.     0.  ]]

80

In [58]:
print(dataTest)
len(dataTest)

[[ 73.     0.     0.    25.91   9.   160.     1.  ]
 [  5.     0.     0.    27.32   6.6  130.     0.  ]
 [ 77.     1.     1.    32.02   5.   159.     0.  ]
 [ 66.     0.     0.    29.3    4.8  159.     0.  ]
 [ 67.     0.     0.    27.32   3.5  160.     0.  ]
 [ 44.     0.     0.    24.93   6.1  100.     0.  ]
 [ 29.     0.     0.    19.95   5.    90.     0.  ]
 [ 60.     0.     0.    18.03   4.   159.     0.  ]
 [ 38.     0.     0.    28.27   6.2  155.     0.  ]
 [  3.     0.     0.    19.27   6.5  100.     0.  ]
 [ 57.     0.     0.    27.32   6.1  155.     0.  ]
 [ 26.     0.     0.    27.32   4.   200.     0.  ]
 [ 74.     0.     0.    28.12   5.   100.     0.  ]
 [ 53.     0.     0.    27.32   7.   159.     1.  ]
 [ 45.     1.     0.    23.05   4.8  130.     0.  ]
 [ 50.     0.     0.    37.16   9.   159.     1.  ]
 [ 30.     0.     0.    27.32   6.6  140.     0.  ]
 [ 19.     0.     0.    23.35   3.5  155.     0.  ]
 [ 46.     0.     0.    24.41   5.   140.     0.  ]
 [ 67.     0.     0.    63.48   8.8  155.     1.  ]
 [ 44.     1.     0.    27.86   6.6  145.     0.  ]
 [ 21.     0.     0.    26.1    5.8  140.     0.  ]
 [ 30.     0.     0.    27.32   6.5  158.     0.  ]
 [ 59.     0.     0.    27.32   6.   159.     0.  ]
 [ 27.     0.     0.    30.22   5.7  100.     0.  ]
 [ 59.     0.     1.    23.11   6.5  200.     0.  ]
 [ 19.     0.     0.    27.32   5.7  145.     0.  ]
 [ 13.     0.     0.    28.16   5.    90.     0.  ]
 [ 56.     0.     0.    26.78   4.8  200.     0.  ]
 [  2.     0.     0.    23.04   5.7  160.     0.  ]
 [  7.     0.     0.    15.94   5.8  158.     0.  ]
 [  3.     0.     0.    15.8    6.2   90.     0.  ]
 [ 30.     0.     0.    27.01   6.2  145.     0.  ]
 [ 43.     0.     0.    27.32   3.5  126.     0.  ]
 [ 76.     0.     0.    22.19   6.6  158.     0.  ]
 [ 41.     0.     0.    27.45   5.7  130.     0.  ]
 [ 11.     0.     0.    17.98   6.5  159.     0.  ]
 [ 26.     0.     0.    26.45   5.7  158.     0.  ]
 [ 34.     0.     0.    31.16   5.8   90.     0.  ]
 [ 80.     0.     0.    24.42   4.   160.     0.  ]
 [ 37.     0.     0.    30.5    5.7  159.     0.  ]
 [ 57.     0.     0.    27.32   8.2  126.     1.  ]
 [ 53.     0.     0.    26.37   4.5  200.     0.  ]
 [ 54.     0.     0.    31.86   6.6  145.     0.  ]
 [ 37.     0.     0.    21.25   6.1  200.     0.  ]
 [ 56.     0.     0.    30.95   6.5  145.     0.  ]
 [ 79.     0.     0.    31.19   5.8  155.     0.  ]
 [ 36.     0.     0.    32.27   6.2  220.     1.  ]
 [ 38.     0.     0.    22.42   6.    85.     0.  ]
 [  6.     0.     0.    16.39   6.6  200.     0.  ]
 [ 42.     0.     0.    17.46   6.2  155.     0.  ]
 [ 44.     0.     0.    37.35   5.7  145.     0.  ]
 [ 54.     0.     0.    32.85   5.   160.     0.  ]
 [ 38.     0.     0.    55.61   6.5  130.     0.  ]
 [ 60.     0.     0.    27.32   7.5  300.     1.  ]
 [ 19.     0.     0.    27.32   6.1   80.     0.  ]
 [ 67.     0.     0.    27.32   6.2  159.     1.  ]
 [ 11.     0.     0.    27.32   6.1   90.     0.  ]
 [ 30.     0.     0.    50.13   6.   100.     0.  ]
 [ 29.     0.     0.    27.32   4.8  158.     0.  ]]

60

In [67]:
#bagi dataset ke input dan label
xTrain = dataTrain[:, 1:6]
xTest = dataTest[:, 1:6]
yTrain = dataTrain[:, 6]
yTest = dataTest[:, 6]

In [68]:
#definisi DecisionTreeClassifier
model = tree.DecisionTreeClassifier()

In [69]:
#training model
model = model.fit(xTrain, yTrain)

In [70]:
#prediksi Data Testing
hasilPrediksi = model.predict(xTest)
print("Label Sebenarnya : ", yTest)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.]
Hasil Prediksi :  [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [72]:
#hitung akurasi
prediksiBenar = (hasilPrediksi == yTest).sum()
prediksiSalah = (hasilPrediksi != yTest).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 59 data
Prediksi Salah : 1 data
Akurasi : 98.33333333333333 %

In [76]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from IPython.display import Image
import graphviz
import pydotplus
# Train the decision tree classifier
clf = DecisionTreeClassifier()
clf.fit(xTrain, yTrain)

# Export the trained decision tree to a DOT file
dot_data = export_graphviz(clf, out_file=None,
                           class_names=['No','Yes'],
                           filled=True, rounded=True,  
                           special_characters=True)
graph = graphviz.Source(dot_data)

# Save the decision tree as a PNG image
graph.format = 'png'
graph.render('diabetes_decision_tree', view=True)

'diabetes_decision_tree.png'